body{
    background-color: rgb(251, 255, 255);
}
.Pyramids{
    background-color:rgb(49, 0, 112);
    color:rgb(247, 242, 240);
    text-align: center;
}
#talk{
    color:rgb(253, 244, 244);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:bold ;
}
.Giza{
    background-color:blanchedalmond;
    text-align: center;
    color: rgb(39, 35, 35);
}
#one{
    color:rgb(33, 33, 36);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:bold ;
}
.two{
    background-color: brown;
    color: azure;
    text-align:center ;
}
#three{
    color: rgb(241, 241, 241);
    text-align: left;
    padding-left:10px; ;
    padding-right: 10px;
    font-weight:bold ;
}
.grand{
    background-color: antiquewhite;
    color: rgb(26, 17, 17);
    text-align: center;
}
#four{
    color: black;
    text-align: left;
    padding-left:10px; ;
    padding-right: 10px;
    font-weight:bold ;

}
#v{
    font-weight: bold;
color: rgb(226, 43, 43);
}
#vi{
    font-weight: bold;
    color: rgb(226, 43, 43);
}
#vii{
    font-weight: bold;
    color: rgb(226, 43, 43);
}
#viii{
    font-weight: bold;
    color: rgb(226, 43, 43);
}